.form {
  display: flex;
  border-top: 2px solid #ff8fa3;
  justify-self: end;
}

.input {
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.5rem;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  background: #ff4d6d;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border: none;
  width: 20%;
}
